@import url('https://fonts.googleapis.com/css2?family=Montserrat.ital:wght@0,100..900;1,100..900&display=swap');
body {

	background-color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
	margin: 0;
}

/* Website Links except the nav */

a:link{
	color: darkblue;
}
a:visited{
	color: #b300b3;
}
a:hover{
	color: mediumvioletred;
}
a:active{
	color: black;
}
header{
	text-align: center;
	background-color: black;
	max-height: 165px;
}

.fa{
	font-size: 4.5em;
	color: #673182;
}
footer .fa{
 font-size: 1em;
 color: #88c8c2;
}

.logo{
	margin: 0 auto;
	display: block;
}

.logo:hover{
	opacity: 0.8;
}
nav{
	background-color: #673182;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px;
}
nav ul{
	list-style-type: none;
	text-align: center;
	margin: 8px 0;
	padding: 0;
}
nav li{
	display: inline;
	padding: 5px;
}
nav a{
	color: #eeeeee;
	text-decoration: none;
}
nav a:link{
	color: #eeeeee;
}
nav a:visited{
	color: #eeeeee;
}
nav a:hover{
	color: #88c8c2;
}
nav a:active{
	color: blue;
}

footer a:link{
	color: #eeeeee;
}
footer a:visited{
	color: #eeeeee;
}
footer a:hover{
	color: #88c8c2;
}
footer a:active{
	color: blue;
}

/*This is the CSS for the hero image*/
.home-hero{
	background-image: url(images/codepic.jpg);
	height: 300px;
	background-size: cover;
	background-position: top center;
}
.home-hero h1{
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	padding-top: 115px;
	font-size: 3em;
	font-weight: normal;
	margin: 0;
}
main{
	max-width: 1000px;
	margin: 20px auto;
	padding: 10px;
}
main .fa{
text-align: center;
margin: 0 auto;
display: block;
}
/* button design */
a.button-design{
	color: #00195C;
	border-radius: 15px;
	text-decoration: none;
	padding: 8px 25px;
	font-weight: bold;
}
a.button-design:link{
	background-color: lightblue;
}

a.button-design:hover{
	background-color: orange;
}
img{
	display:block;
	margin:0 auto;
}
/* Footer */
footer{
	border-top: black 3px solid;
	text-align: center;
	background-color: #673182;
	color: #eeeeee;
}

footer p{
	font-size: 0.75em;
}

/*CSS without a media query--applies to all sizes unless overridden*/
h1{
		font-size: 4em;
 }
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	  }
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	  }
}
